body {
    background-color: gray;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    color: black;
    float: left;
    font-family: Arial, Helvetica, sans-serif; 
}

button {
    font-size: 12pt;
    margin: 8px;
}

/* .button-play {
    color: green;
}

.button-pause {
    color: blue;
} */